$text-color: #333;
$background-color: white;
$active-background: darkred;
$active-text: white;

$border-color: lightgrey;

$text-small: 12px;
$text-base: 14px;
$text-large: 16px;
$text-xlarge: 18px;

p.AbilityText {
  color: $text-color;
  font-size: $text-base;
  margin: 0;
  padding: 0.5rem 0;
}

section.Section {
  border: 1px solid $border-color;
  padding: 0.5rem;
}

h1.Header {
  color: $text-color;
  padding: 1rem 0;
  margin: 0;
  font-size: $text-xlarge;
}
