.Selector {
  padding: 0 0 0 1rem;
  .DemonList {
    display: block;
    list-style-type: none;
    overflow-y: auto;
    width: 200px;
    padding: 0 1rem 1rem;
    border: 1px solid lightgrey;

    .ListItem {
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: darkred;
        color: white;
      }
    }
  }
}
