body {
  // font-family: Arial, Helvetica, sans-serif;
  font-family: Cambria, Georgia, serif;
}

.zen-mode {
  [data-hide-on-print] {
    display: none;
  }
  .ZenToggle {
    border: none;
  }
}

.ZenToggle {
  position: absolute;
  right: 16px;
  background-color: white;
  color: black;
  border: 1px solid;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;

  .App__Body {
    display: flex;
  }

  nav {
    min-width: 150px;
    flex-grow: 0;
    > h3 {
      margin: 0.5rem 0;
    }
  }

  @media print {
    [data-hide-on-print],
    .ZenToggle {
      display: none;
    }
    .DemonCard {
      page-break-inside: avoid;
    }
    .Roster {
      page-break-before: always;
    }
  }

  main {
    padding: 0 1rem;
    flex-grow: 1;
  }
}

.Leader,
.DemonCard,
.PhilosophyInfo {
  article,
  aside {
    font-size: 14px;
    margin-bottom: 1rem;
  }
}

.StatsTable {
  td,
  th {
    font-size: 16px;
  }

  span.fly-tag {
    font-size: small;
  }
}

.radio-select {
  display: flex;
  flex-direction: column;

  .radio-select__card {
    padding: 0.25rem;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px dashed black;

    &.unselected {
      &:hover {
        background-color: lightgray;
        color: black;
      }
    }

    &.selected {
      background-color: darkred;
      color: white;
    }
    &.hoverable:hover {
      background-color: darkred;
      color: white;
    }
  }
}
