body {
  // font-family: Arial, Helvetica, sans-serif;
  font-family: Cambria, Georgia, serif;
}

.App {
  display: flex;

  nav {
    min-width: 120px;
    flex-grow: 0;
  }

  @media print {
    [data-hide-on-print] {
      display: none;
    }
  }

  main {
    padding: 0 1rem;
    flex-grow: 1;
  }
}

.Leader,
.DevoutCard {
  header > h2 {
    display: inline-block;
    white-space: nowrap;
    min-width: fit-content;
    margin: 1rem 0;
  }

  header {
  }
}

.StatsTable {
  td,
  th {
    font-size: 1.5rem;
  }

  span.fly-tag {
    font-size: small;
  }
}

.radio-select {
  display: flex;
  flex-direction: column;

  .radio-select__card {
    padding: 0.25rem;
    cursor: pointer;
    background-color: white;
    &.unselected {
      border: 1px solid lightgray;
    }
    &.selected {
      background-color: darkred;
      color: white;
    }
  }
}
