body {
  // font-family: Arial, Helvetica, sans-serif;
  font-family: Cambria, Georgia, serif;
}

.App {
  display: flex;

  nav {
    min-width: 150px;
    flex-grow: 0;
    > h3 {
      margin: 0.5rem 0;
    }
  }

  @media print {
    [data-hide-on-print] {
      display: none;
    }
    .DemonCard {
      page-break-inside: avoid;
    }
  }

  main {
    padding: 0 1rem;
    flex-grow: 1;
  }
}

.Leader,
.DemonCard {
  header > h2 {
    display: inline-block;
    white-space: nowrap;
    min-width: fit-content;
    margin: 1rem 0;
    font-size: 18px;
  }

  header > a {
    font-size: 14px;
  }

  article,
  aside {
    font-size: 14px;
    margin-bottom: 1rem;
    i.tag {
      padding: 0 2px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.DemonCard {
  a.DemonCard__RemoveLink {
    margin-left: 0.5rem;
  }
}

.StatsTable {
  td,
  th {
    font-size: 16px;
  }

  span.fly-tag {
    font-size: small;
  }
}

.radio-select {
  display: flex;
  flex-direction: column;

  .radio-select__card {
    padding: 0.25rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid lightgray;

    &.unselected {
      &:hover {
        background-color: lightgray;
        color: black;
      }
    }

    &.selected {
      background-color: darkred;
      color: white;
    }
    &.hoverable:hover {
      background-color: darkred;
      color: white;
    }
  }
}
